.preview-app {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-ticketpreview {
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
}
.title-header-ticketpreview {
    display: flex;
    flex-direction: column;
    
    padding: 0.5rem 1rem;

    color: var(--text-on-black);
}
.tickettitle--ticketpreview,
.username--ticketpreview {
    font-size: 0.8rem;
    text-align: left;
}

.date-header-ticketpreview {
    display: flex;
    flex-direction: row;

    padding: 0.5rem 1rem;

    color: #3f3f3f;
}
.datecreated--ticketpreview,
.lastupdated--ticketpreview {
    margin: auto 1rem auto 0;
    font-size: 0.8rem;
}

.preview-ticketpreview {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    overflow-y: scroll;
}
.body--ticketpreview,
.replies--ticketpreview {
    align-content: flex-start;
    border-radius: 0.25rem;
    background-color: #8f8f8f;
    width: 60%;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

.footer-ticketpreview {
    background-color: #2d2d2d;
    bottom: 0;
    width: calc(100vw - 200px);
    right: 0;
    position: fixed;
}

.sendmessage-preview {
    padding: 1rem;
}
.textgroup--preview {
    display: flex;
    flex-direction: row;
}
.btn--preview {
    width: 150px;
    height: 3rem;
    border-radius: 0.3rem;
    
}
.form-control-textarea-preview {
    height: 3rem;
    width: calc(100% - 200);
    border-radius: 0.5rem;
    resize: none;
    margin-right: 1rem;
    font-size: 0.8rem;
}
