.preview-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header-ticketpreview {
    flex: 0 1 auto;
    height: 13%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
}
.title-header-ticketpreview {
    display: flex;
    flex-direction: column;
    
    padding: 0.5rem 1rem;
    overflow: hidden;
    box-shadow: 0 5px 6px 0px #14141448;
    color: var(--text-on-black);
}
.tickettitle--ticketpreview,
.username--ticketpreview {
    font-size: 0.8rem;
    text-align: left;
    color: var(--primary-color);
}

.date-header-ticketpreview {
    display: flex;
    flex-direction: row;

    padding: 0.5rem 1rem;

    color: #797979;
}
.datecreated--ticketpreview,
.lastupdated--ticketpreview {
    margin: auto 1rem auto 0;
    font-size: 0.8rem;
}

.body-ticketpreview {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    background-color: #2d2d2d;
    height: 9%;
}
.body--ticketpreview {
    align-content: flex-start;
    width: 40%;
    font-size: 1.2rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    color: var(--info-blue);
}
.attachment--ticketpreview {
    margin-bottom: 0.5rem;
}
.icon--ticketpreview {
    fill: var(--info-blue);
    cursor: pointer;
    align-content: flex-start;
}
.img--ticketpreview {
    width: 100%;
}

.preview-ticketpreview {
    flex: 1 0 62%;
    max-height: 62%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    overflow: auto;
}

.replies-container--ticketpreview {
    margin: 0;
    flex: 0 0 auto;
    overflow: hidden;
}
.replies--ticketpreview {
    flex: 0 1 auto;
    align-content: flex-start;

    word-wrap: break-word;
    border-radius: 0.25rem;
    background-color: #fff;
    width: fit-content;
    max-width: 30%;
    padding: 0.25rem 0.25rem 0.3rem 0.25rem;
    margin-bottom: 0.5rem;
}
.sender {
    color: var(--success-green);
    font-weight: 600;
}

.footer-ticketpreview {
    flex: 0 0;
    background-color: #2d2d2d;
    bottom: 0;
    width: calc(100vw - 200px);
    right: 0;
    position: absolute;
    height: 16%;
}

.sendmessage-preview {
    padding: 1rem;
}
.textgroup--preview {
    display: flex;
    flex-direction: row;
}
.btn--preview {
    width: 150px;
    height: 3rem;
    border-radius: 0.3rem; 
}
.btn--preview:active {
    background-color: #f8ca57;

}
.form-control-textarea-preview {
    height: 3rem !important;
    width: calc(100% - 200);
    border-radius: 0.3rem;
    resize: none;
    margin-right: 1rem;
    font-size: 0.8rem;
}
