/* ------- */
/* Tickets */
/* ------- */
.ticket-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.action-bar,
.ticket-container,
.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 1rem;

    font-size: 80%;
    text-align: left;
    color: var(--text-on-black2);
}
.header-container {
    border-bottom: 1px solid var(--primary-color);  
    text-align: center;
    min-height: fit-content;
}
.ticket-container:hover {
    text-decoration: none;
    background-color: #2a2d2e;
}

.link--text {
    text-decoration: none;
    color: var(--text-on-black2);
}
.link--text:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.options-icon {
    fill: var(--text-on-black)
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.action-bar {
    background-color: #2d2d2d;
    flex-direction: row;
    min-height: fit-content;

}
.add-ticket {
    display: flex;
    margin: 0 5px;
}
.IosAdd {
    fill: var(--primary-color);
    margin-right: 4px;
    width: 24px;
    height: 24px;
}
.IosAdd:hover {
    fill: #000;
}
.content-btn {
    color: var(--text-on-black);
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;

    display: flex;
    position: relative;
}
.content-btn:hover {
    transition: 0.3s;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    fill: var(--secondary-color);
}

