.preview-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.profile-ticketpreview {
    flex: 0 1 auto;
    height: 17%;
    display: flex;
    background-color: var(--foreground-color);
}
.media {
    padding: 1rem;
    overflow: hidden;
}
.avatar--ticketpreview {
    width: 96px;
    margin-right: 20px;
}
.profile--creator,
.profile--company,
.profile--email {
    color: var(--text-on-black2);
    line-height: 1.75;
}
.profile--creator {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-color);
}


.header-ticketpreview {
    flex: 0 1 auto;
    height: 10%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 6px 0px #14141448;
}
.title-header-ticketpreview {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    overflow: hidden;
    width: 50%;
    color: var(--text-on-black);
}
.tickethead--ticketpreview {
    display: flex;
    flex-direction: row;
}
.attachment--ticketpreview {
    display: flex;
    align-content: center;
}
.icon--ticketpreview {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
    cursor: pointer;
    align-content: flex-start;
}
.img--ticketpreview {
    width: 100%;
}
.tickettitle--ticketpreview,
.username--ticketpreview {
    font-size: 0.8rem;
    text-align: left;
    color: var(--primary-color);
}

.date-header-ticketpreview {
    display: flex;
    flex-direction: row;

    color: #797979;
}
.datecreated--ticketpreview,
.lastupdated--ticketpreview {
    margin: auto 1rem auto 0;
    font-size: 0.8rem;
}
.actionbar-ticketpreview{
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.tags--ticketpreview,
.status--ticketpreview,
.label--ticketpreview,
.assign--ticketpreview,
.resolve--ticketpreview {
    margin-right: 10px;
}

.body-ticketpreview {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    background-color: var(--foreground-color);
    height: 9%;
}
.body--ticketpreview {
    align-content: flex-start;
    width: 60%;
    font-size: 1.1rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    color: var(--info-blue);
}

.preview-labelpreview,
.preview-ticketpreview {
    flex: 1 0 62%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    overflow: auto;
}
.preview-labelpreview {
    max-height: 64%;
}
.preview-ticketpreview {
    /* max-height: 62%; */
    max-height: 54%;
}
.replies-container-user--ticketpreview,
.replies-container--ticketpreview {
    margin: 0;
    flex: 0 0 auto;
    overflow: hidden;
}
.replies-container-user--ticketpreview {
    display: flex;
    justify-content: flex-end;
}
.replies--ticketpreview {
    flex: 0 1 auto;
    align-content: flex-start;

    word-wrap: break-word;
    border-radius: 0.25rem;
    background-color: #fff;
    width: fit-content;
    max-width: 30%;
    padding: 0.25rem 0.25rem 0.3rem 0.25rem;
    margin-bottom: 0.5rem;
}
.sender {
    color: var(--success-green);
    font-weight: 600;
}
.creator {
    color: var(--danger-red);
    font-weight: 600;
}
.sender--createdAt {
    color: #797979;
    font-size: 0.6rem;
    text-align: right;
}

.footer-ticketpreview {
    flex: 0 0;
    background-color: var(--foreground-color);
    bottom: 0;
    width: calc(100vw - 200px);
    right: 0;
    position: absolute;
    /* height: 16%; */
    height: 10%;
}

.sendmessage-preview {
    padding: 1rem;
}
.textgroup--preview {
    display: flex;
    flex-direction: row;
}
.btn--preview {
    color: black;
    width: 150px;
    height: 3rem;
    border-radius: 0.3rem; 
}
.btn--preview:active {
    background-color: #f8ca57;

}
.form-control-textarea-preview {
    height: 3rem !important;
    width: calc(100% - 200);
    border-radius: 0.3rem;
    resize: none;
    margin-right: 1rem;
    font-size: 0.8rem;
}
